<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>100面ダイス</title>
</head>
<body>
    <h1>1d100</h1>
    <p>出目: <%= dice %></p>
    <p>結果: <%= comment %></p>
    <p><a href="/100dice">もう一度サイコロを振る</a></p>
    <p><a href="/">ホームに戻る</a></p>
</body>
</html>