<!Doctype html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>Greeting</title>
</head>
<body>
  <h2>Greeting Message</h2>
  <p><%= message  %></p>
  <p><a href="/janken">じゃんけんをする</a></p>
  <p><a href="/omikuji3">おみくじを引く</a></p>
  <p><a href="/100dice">100面サイコロを振る</a></p>
</body>
</html>